<h1>Donations for <%= current_user.partner.default_grant.name %> </h1>

<table>
  <thead>
    <tr>
      <th>Donor</th>
      <th>Date</th>
      <th>Amount</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.partner.default_grant.donations.each do |donation| %>
      <tr>
        <td><%= donation.donor %></td>
        <td><%= donation.date.strftime("%m/%d/%Y") %></td>
        <td><%= donation.amount.format %></td>
        <td><%= link_to 'Edit', edit_donation_path(donation) %></td>
        <td><%= link_to 'Delete', donation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Donation', new_donation_path %>
