<%= form_with(model: disbursement, local: true) do |form| %>
  <% if disbursement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(disbursement.errors.count, "error") %> prohibited this disbursement from being saved:</h2>

      <ul>
        <% disbursement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <ul>
    <li>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </li>
    <li>
      <%= form.label :landlord %>
      <%= form.text_field :landlord %>
    </li>
    <!-- <li> -->
    <!--   <%= form.label :date %> -->
    <!--   <%= form.text_field :date %> -->
    <!-- </li> -->
    <li>
      <%= form.label :number_children %>
      <%= form.text_field :number_children %>
    </li>
    <li>
      <%= form.label :move_in_amount %>
      <%= form.text_field :move_in_amount %>
    </li>
    <li>
      <%= form.label :prevention_amount %>
      <%= form.text_field :prevention_amount %>
    </li>
  </ul>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
