<%= form_with(model: disbursement, local: true) do |form| %>
  <% if disbursement.errors.any? %>
    <div class="error">
      <h2><%= pluralize(disbursement.errors.count, "error") %> prohibited this disbursement from being saved:</h2>

      <ul>
        <% disbursement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <ul>
    <li>
      <%= form.label :name %>
      <br/>
      <%= form.text_field :name %>
    </li>
    <li>
      <%= form.label :landlord %>
      <br/>
      <%= form.text_field :landlord %>
    </li>
    <li>
      <%= form.label :date %>
      <br/>
      <%= form.date_field :date %>
    </li>
    <li>
      <%= form.label :number_children %>
      <br/>
      <%= form.number_field :number_children, min: 0, max: 100, step: 1 %>
    </li>
    <li>
      <%= form.label :move_in_amount %>
      <br/>
      $<%= form.number_field :move_in_amount, min:"0.00", step: "0.01" %>
    </li>
    <li>
      <%= form.label :prevention_amount %>
      <br/>
      $<%= form.number_field :prevention_amount, min:"0.00", step: "0.01" %>
    </li>
  </ul>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
