<h1>Disbursements for <%= current_user.partner.default_grant.name %> </h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Landlord</th>
      <th>Number of Children</th>
      <th>Move In Amount</th>
      <th>Prevention Amount</th>
      <th></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.partner.default_grant.disbursements.each do |disbursement| %>
      <tr>
        <td><%= disbursement.date.strftime('%m/%d/%Y') %></td>
        <td><%= disbursement.name %></td>
        <td><%= disbursement.landlord %></td>
        <td><%= disbursement.number_children %></td>
        <td><%= disbursement.move_in_amount.format %></td>
        <td><%= disbursement.prevention_amount.format %></td>
        <td><%= link_to 'Edit', edit_disbursement_path(disbursement) %></td>
        <td><%= link_to 'Destroy', disbursement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Disbursement', new_disbursement_path %>
