<!DOCTYPE html>
<html>
  <head>
    <title>Help Us Move In</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <p class="navbar-text float-right">
      <%= link_to image_tag('humi-logo.png', {class: 'logo-img'}), root_path %>
      <span>
      <% if user_signed_in? %>
        <% if current_user&.admin? %>
          <%= link_to "Admin Dashboard", admin_root_path %>
        <% else %>
          <%= link_to "My Dashboard", root_path %>
          <%= link_to "My Disbursements", disbursements_path %>
          <%= link_to "My Donations", donations_path %>
        <% end %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        Logged in as <strong><%= current_user.email %></strong>.
      <% else %>
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
      </span>
    </p>
    <p class="notice" id="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
